.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
local/rawEEGdata/
local/processedEEGdata.npz
local/fits1/
local/fits2/
env/
.TinyTex/
.cache/
.config/
.virtualenvs/
.wget-hsts
.local/
bin/
.sh_history
vibrosummanuscript_files/